.w-200{
    width:200px;
}
@media (min-width: 800px) {
    .w-200{
        width:auto;
    }
}
.ml-10{
    margin-left:10px;
}
.toast-custom{
    position:relative; 
    padding:0px; 
    margin-left:10px;
}
.btn-save-custom{
    margin:0px 10px; 
    float:right;
}
.toast-body-custom{
    padding:7px 10px;
    margin:0px;
}
.w-200{
    width:200px;
}
.mp-0{
    margin:0px;
    padding:0px;
}
#anggota::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; 
}
    
#anggota::-webkit-scrollbar {
    width: 3px;
    background-color: #F5F5F5; 
}
  
#anggota::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(243, 240, 240, 0.1);
  background-color: #cccccc; 
}
.logo-side {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius:50px;
}
.login100-form-logo {
  font-size: 60px; 
  color: #333333;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
}
.sidebar-brand {
    margin-top: 25px;
    margin-bottom: 25px;
}
.text-capitalize {
  text-transform: capitalize !important;
}
#editor-textarea {
  display: none;
}